In [ ]:
import pandas as pd
import json
from pandas.core import apply
import math
import numpy as np
import statistics as sta
import requests
import calendar
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Planta

In [ ]:
planta_dp = pd.read_csv('/content/drive/MyDrive/Personal/Prueba Bancolombia - DA3/Planta_ec.csv', sep='\;', lineterminator='\r')

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [ ]:
planta_dp['Usuario_asesor'] = planta_dp['email'].apply(lambda x: x[0:-19])

In [ ]:
planta_dp.dtypes

periodo            int64
num_doc           object
nombre            object
cod_zona           int64
zona              object
cod_region         int64
region            object
email             object
Usuario_asesor    object
dtype: object

### Estandarización de valores, eliminando caracteres especiales.

In [ ]:
columnas_planta = ['num_doc', 'nombre', 'Usuario_asesor']

In [ ]:
for i in columnas_planta:
  planta_dp[i] = planta_dp[i].str.replace('[¡,!,#,$,%,^,&,*,(,),/,\,<,>,ñ,Ñ,Á,É,Í,Ó,Ú,á,é,í,ó,ú]','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [ ]:
#planta_dp.to_excel('Planta_dp.xlsx', index=False)

## Sucursales

In [ ]:
sucursales_dp = pd.read_csv('/content/drive/MyDrive/Personal/Prueba Bancolombia - DA3/Sucursales_ec.csv', sep='\;', lineterminator='\r')

In [ ]:
sucursales_dp[sucursales_dp['director_servicio'].isnull()]

,cod_suc,nombre_suc,cedula_director,director_servicio,cedula_lider,lider_servicio
22,25,COMERCIO INTERNACIONAL MEDELLIN,NaN,NaN,xwk/$xwk/$4rp4ns1/0p4nlt4r80/&4r,Jko45hn Edwj97rd Rlus56al/1z H76trrnj97nd76trz
46,55,CTR. SERV PNAS Y PYME BTA,NaN,NaN,xwk/$xwk/$4rp4n480/&4lt4r0k/$,N76trlsko45n Enral/1qlus5676tr Est76trpj97 Zj9...
62,75,CIO. INT. CALI,NaN,NaN,xwk/$04rp4ns1/080/&k/$n!04r,Llus56z Adral/1j97nj97 Cj97rd76trnj97s Lko45zj...
79,95,CIO INT BQUILLA,NaN,NaN,k/$44rlt4rs1/n!04r,J76trnny Mj97nral/1qlus5676tr Cj97bj97ll76trrko45
294,410,EL TESORO EXPRESS,NaN,NaN,480/&n!04p4nn!0s1/n!0,Anj97 Mj97ral/1j97 Echj97vj97rral/1j97 Gko45nz...
439,633,MANAURE,NaN,NaN,s1/p4np4n0k/$k/$lt4rs1/,G76trrmj97n Alcal/1d76trs H76trrnj97nd76trz Va...
579,830,EDIFICIO 8111 EXPRESS,NaN,NaN,n!00xwk/$n!04xwk/$xwk/$k/$,Cj97mal/1lko45 Andr76trs Mal/1lj97 Jal/1m76trn...

In [ ]:
sucursales_dp['director_servicio'] = np.where(sucursales_dp['director_servicio'].isna(),
                           sucursales_dp['lider_servicio'],
                           sucursales_dp['director_servicio'])

In [ ]:
sucursales_dp['cedula_director'] = np.where(sucursales_dp['cedula_director'].isna(),
                           sucursales_dp['cedula_lider'],
                           sucursales_dp['cedula_director'])

In [ ]:
sucursales_dp[sucursales_dp['cod_suc']==25]

,cod_suc,nombre_suc,cedula_director,director_servicio,cedula_lider,lider_servicio
22,25,COMERCIO INTERNACIONAL MEDELLIN,xwk/$xwk/$4rp4ns1/0p4nlt4r80/&4r,Jko45hn Edwj97rd Rlus56al/1z H76trrnj97nd76trz,xwk/$xwk/$4rp4ns1/0p4nlt4r80/&4r,Jko45hn Edwj97rd Rlus56al/1z H76trrnj97nd76trz

### Estandarización de valores, eliminando caracteres especiales.

In [ ]:
columnas_sucursales = ['cedula_director', 'director_servicio', 'cedula_lider', 'lider_servicio']

In [ ]:
for i in columnas_sucursales:
  sucursales_dp[i] = sucursales_dp[i].str.replace('[¡,!,#,$,%,^,&,*,(,),/,\,<,>,ñ,Ñ,Á,É,Í,Ó,Ú,á,é,í,ó,ú]','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [ ]:
#sucursales_dp.to_excel('Sucursales_dp.xlsx', index=False)

## Vinculación

In [ ]:
vinculacion_dp = pd.read_csv('/content/drive/MyDrive/Personal/Prueba Bancolombia - DA3/Vinculación_ec.csv', sep='\;', lineterminator='\r')

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support regex separators (separators > 1 char and different from '\s+' are interpreted as regex); you can avoid this warning by specifying engine='python'.
  return func(*args, **kwargs)

In [ ]:
vinculacion_dp['FECHA'] = pd.to_datetime(vinculacion_dp['FECHA'], errors='ignore', dayfirst=True, format='%Y-%m-%d')

In [ ]:
vinculacion_dp.dtypes

PROCESO                    object
NUMERO_CUENTA              object
CODIGO_SUCURSAL             int64
NOMBRE_PLAN                object
FECHA              datetime64[ns]
NOMBRE_USUARIO             object
DOCUMENTO                  object
USUARIO_ASESOR             object
dtype: object

In [ ]:
vinculacion_dp['FECHA_MES'] = vinculacion_dp['FECHA'].dt.month

In [ ]:
vinculacion_dp['FECHA_MES'].replace(7,'Julio', inplace = True)
vinculacion_dp['FECHA_MES'].replace(8,'Agosto', inplace = True)
vinculacion_dp['FECHA_MES'].replace(9,'Septiembre', inplace = True)

In [ ]:
""" Para agregar mes en ingles.
def mes(x):
    return calendar.month_name[int(x)] if not np.isnan(x) else np.nan

vinculacion_dp['FECHA_MES'] = vinculacion_dp.FECHA_MES.apply(mes)
"""

" Para agregar mes en ingles.\ndef mes(x):\n    return calendar.month_name[int(x)] if not np.isnan(x) else np.nan\n\nvinculacion_dp['FECHA_MES'] = vinculacion_dp.FECHA_MES.apply(mes)\n"

In [ ]:
len(vinculacion_dp.index)
# 206353
# 205161
# Pasamos de 206.353 a 205.161 registros al eliminar los duplicados conservando el registro más antiguo.

206353

In [ ]:
vinculacion_dp['DOCUMENTO'] = vinculacion_dp['DOCUMENTO'].apply(lambda x: x[6:-7])

In [ ]:
vinculacion_dp['FECHA_MES'].unique()

array(['Julio', 'Agosto', 'Septiembre'], dtype=object)

In [ ]:
vinculacion_dp.columns

Index(['PROCESO', 'NUMERO_CUENTA', 'CODIGO_SUCURSAL', 'NOMBRE_PLAN', 'FECHA',
       'NOMBRE_USUARIO', 'DOCUMENTO', 'USUARIO_ASESOR', 'FECHA_MES'],
      dtype='object')

In [ ]:
vinculacion_dp['DOCUMENTO'].unique()

array(['xwk/$80/&s1/0lt4r4480/&', 'xwk/$080/&n!0p4nlt4r80/&80/&k/$4',
       'xwk/$0p4n80/&0xwk/$s1/4k/$n!0', ...,
       'xwk/$0s1/80/&80/&n!080/&s1/n!0xwk/$',
       'xwk/$xwk/$k/$80/&80/&4rlt4rk/$k/$0',
       'xwk/$0k/$n!0s1/4r4p4n4rlt4r'], dtype=object)

In [ ]:
vinculacion_dp.groupby('DOCUMENTO').count()['NUMERO_CUENTA'].sort_values(ascending=False)

DOCUMENTO
s1/p4np4ns1/s1/80/&s1/                       11
p4n0k/$p4nxwk/$n!080/&0                       6
s1/4r0s1/s1/s1/xwk/$k/$                       6
k/$4rxwk/$xwk/$s1/xwk/$80/&                   6
80/&00xwk/$4r0n!0k/$n!0                       5
                                             ..
s1/80/&xwk/$80/&s1/xwk/$xwk/$lt4r             1
s1/80/&xwk/$80/&xwk/$04rn!0                   1
s1/80/&xwk/$80/&xwk/$4xwk/$0                  1
s1/80/&xwk/$80/&xwk/$80/&xwk/$0               1
xwk/$xwk/$xwk/$xwk/$xwk/$p4np4ns1/k/$lt4r     1
Name: NUMERO_CUENTA, Length: 205161, dtype: int64

In [ ]:
vinculacion_dp = vinculacion_dp.sort_values('FECHA', ascending=True).drop_duplicates('DOCUMENTO', keep='first')

### Estandarización de valores, eliminando caracteres especiales.

In [ ]:
columnas_vinculacion = ['NUMERO_CUENTA', 'NOMBRE_USUARIO', 'DOCUMENTO', 'USUARIO_ASESOR']

In [ ]:
for i in columnas_vinculacion:
  vinculacion_dp[i] = vinculacion_dp[i].str.replace('[¡,!,#,$,%,^,&,*,(,),/,\,<,>,ñ,Ñ,Á,É,Í,Ó,Ú,á,é,í,ó,ú]','')

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version.

In [ ]:
#vinculacion_dp.to_excel('Vinculacion_dp.xlsx', index=False)

## Sabana final

### Depuración tabla Planta

In [ ]:
planta_dp = planta_dp.astype({'periodo' : 'string'})

In [ ]:
planta_dp['mes_periodo'] = planta_dp['periodo'].apply(lambda x: x[4:])

In [ ]:
planta_dp.dtypes

periodo           string
num_doc           object
nombre            object
cod_zona           int64
zona              object
cod_region         int64
region            object
email             object
Usuario_asesor    object
mes_periodo       object
dtype: object

In [ ]:
planta_dp['mes_periodo'].replace('07','Julio', inplace = True)
planta_dp['mes_periodo'].replace('08','Agosto', inplace = True)
planta_dp['mes_periodo'].replace('09','Septiembre', inplace = True)

### Creación de sabana final

In [ ]:
version1 = pd.merge(vinculacion_dp, sucursales_dp, left_on = 'CODIGO_SUCURSAL', right_on = 'cod_suc', how = 'left', suffixes=('_V', '_S'))

In [ ]:
version1.columns

Index(['PROCESO', 'NUMERO_CUENTA', 'CODIGO_SUCURSAL', 'NOMBRE_PLAN', 'FECHA',
       'NOMBRE_USUARIO', 'DOCUMENTO', 'USUARIO_ASESOR', 'FECHA_MES', 'cod_suc',
       'nombre_suc', 'cedula_director', 'director_servicio', 'cedula_lider',
       'lider_servicio'],
      dtype='object')

In [ ]:
planta_dp.columns

Index(['periodo', 'num_doc', 'nombre', 'cod_zona', 'zona', 'cod_region',
       'region', 'email', 'Usuario_asesor', 'mes_periodo'],
      dtype='object')

In [ ]:
sabana_final = pd.merge(version1, planta_dp, left_on = ['USUARIO_ASESOR', 'FECHA_MES'], right_on = ['Usuario_asesor', 'mes_periodo'], how = 'left', suffixes=('V1', 'Pl'))

In [ ]:
sabana_final.columns

Index(['PROCESO', 'NUMERO_CUENTA', 'CODIGO_SUCURSAL', 'NOMBRE_PLAN', 'FECHA',
       'NOMBRE_USUARIO', 'DOCUMENTO', 'USUARIO_ASESOR', 'FECHA_MES', 'cod_suc',
       'nombre_suc', 'cedula_director', 'director_servicio', 'cedula_lider',
       'lider_servicio', 'periodo', 'num_doc', 'nombre', 'cod_zona', 'zona',
       'cod_region', 'region', 'email', 'Usuario_asesor', 'mes_periodo'],
      dtype='object')

In [ ]:
sabana_final_depurada = sabana_final[['PROCESO', 'NUMERO_CUENTA', 'CODIGO_SUCURSAL', 'NOMBRE_PLAN', 'FECHA',
       'NOMBRE_USUARIO', 'DOCUMENTO', 'USUARIO_ASESOR', 'FECHA_MES','num_doc', 'nombre', 'nombre_suc', 'cod_zona', 'zona',
       'cod_region', 'region', 'cedula_director', 'director_servicio']]

### Georreferenciación / Geopy

In [ ]:
sabana_final_depurada['Localización_completa'] = [0 for i in range(len(sabana_final_depurada['PROCESO']))]
sabana_final_depurada['Localización_lat'] = [0 for i in range(len(sabana_final_depurada['PROCESO']))]
sabana_final_depurada['Localización_lon'] = [0 for i in range(len(sabana_final_depurada['PROCESO']))]

In [ ]:
sabana_final_depurada.shape
sabana_final_depurada.dtypes

In [ ]:
sabana_final_depurada = sabana_final_depurada.astype({'Localización_completa' : 'str', 'Localización_lat' : 'str', 'Localización_lon' : 'str'})

In [ ]:
from geopy.geocoders import Nominatim
geolocator = Nominatim(user_agent="Obtener Lat-Long")

In [ ]:
for i, row in sabana_final_depurada.iterrows():
  apiAddress = str(str(sabana_final_depurada.at[i,'nombre_suc'])+','+str(sabana_final_depurada.at[i,'zona'])+','+str(sabana_final_depurada.at[i,'region'])+',Colombia')
  sabana_final_depurada.at[i,'Localización_completa'] = apiAddress

  #Geopy para obtener Latitud y Longitud de la localización a buscar:
  try:    
    location = geolocator.geocode(sabana_final_depurada.at[i,'Localización_completa'])
    print("completado")
    sabana_final_depurada.at[i,'Localización_lat'] = location.latitude
    sabana_final_depurada.at[i,'Localización_lon'] = location.longitude
  except:
    sabana_final_depurada.at[i,'Localización_lat'] = "n/a"
    sabana_final_depurada.at[i,'Localización_lon'] = "n/a"

In [ ]:
sabana_final_depurada.to_excel('Sabana_final_depurada.xlsx', index=False)

NameError: ignored